.accardion_list(data-accordion, data-allow-all-closed='true')
    for item in accardionsItems
        .accardion_item(data-accordion-item)
            a.accardion_header(href='#')
            .accardion_content(data-tab-content)
