for form in formBlock
    form.form(action="#", data-abide, novalidate)
        .row
            for item in form.formItems
                .columns.small-12(class="medium-"+item.medium+" large-"+item.large)
                    .form_item
                        input(type="text", name="", placeholder=item.inpt, required)
            if form.textarea
                .columns.small-12
                    .form_item
                        textarea(name="", placeholder="Your message")
            if form.file
                .columns.small-12
                    .form_item.form_item-upload
                        i.i-attachment
                        input(type="file", name="uploadfile", )
                        div file
            .columns.small-12
                .form_item
                    button.btn.btn_color-red.btn_size-medium(type="submit")
                        span=form.btnForm