.form_area.patern
    for form in formBlock
        form.form(action="#", data-abide, novalidate)
            for item in form.formItems
                .form_item
                    input(type="text", name="", placeholder=item.inpt, required)
                    span.form-error 
                        i.i-error
            if form.textarea
                .form_item
                    textarea(name="", placeholder="Сообщение")
            else

            if form.file
                .form_item.form_item-upload
                    i.i-attachment
                    input(type="file", name="uploadfile", )
                    div Прикрепить резюме
            else

            .form_item
                button.btn.btn_border.btn_color-yellow.btn_size-medium(type="submit")
                    span=form.btnForm 