header.header.header-white
    .row.row-large.align-middle
        .columns.small-3.medium-2.large-2
            -var logoClass = 'header';
            include ./_logo
        .columns.hidden-small.hidden-medium.large-6
            -var mainMenu = [{"class":"header","menuItems":[{"link":"why hoylu?","dropdown":["Investor Relations","News","Stock Information","Financial Information","Corporate Governance"]},{"link":"hoylu suite"},{"link":"innovation @ work"},{"link":"free trial"},{"link":"news"}]}];
            include ./_menu
        .columns.hidden-small.medium-5.large-2.large-offset-1
            -var mainMenu = [{"class":"header-auth","menuItems":[{"link":"sign in"},{"link":"sign up"}]}];
            include ./_menu
        .columns.small-6.medium-4.large-1
            -var mainMenu = [{"class":"header-lang","menuItems":[{"link":"eng"},{"link":"swe"}]}];
            include ./_menu
        .small-3.medium-1.hidden-large
            a.burger
                span.stick.stick-1
                span.stick.stick-2
                span.stick.stick-3

            