footer.footer
    .row
        -var menuFooter = [{"title":"Hoylu suite","items":["why hoylu?","features","subscribtion"]},{"title":"innovation&work","items":["use cases","case studies","spec sheets"]},{"title":"contact","items":["free trial","support","partners"]},{"title":"company","items":["About us","press","careers","investors"]}];
        include ./_menu-footer
        .columns.small-12.medium-6.large-4
            -var social = ["./templates/_ares/img/svg/social/twitter.svg","./templates/_ares/img/svg/social/facebook.svg","./templates/_ares/img/svg/social/youtube.svg","./templates/_ares/img/svg/social/linkedin.svg","./templates/_ares/img/svg/social/vimeo.svg"]
            include ./_social
    .row
        .columns.small-12.medium-6
            .copirate © COPYRIGHT HOYLU 2018 ALL RIGHTS RESERVED
        .columns.small-12.medium-6.flex
            a(href="#", title="title").copirate_link Privacy policy 