for text in textBlock
    .text(class="text-"+ text.size +" text-"+ text.color +" text-"+ text.align)
        for paragraph in text.paragraph
            p= paragraph

//- -var textBlock = [{"size":"medium","color":"black","align":"left","paragraph":["Hoylu Suite is designed to make digital work simple,seamless and hassle free. Hoylu established a digital workspace platform focused on the holistic experience to allow workers to increase their productivity and make decisions faster.","Hoylu Suite delivers a comprehensive set of personalized digital workspaces to enable teams across locations, on any device, to work smarter across major industries."]}];
//- include ./components/_text