extends templates/_layout

block vars
	- var page = "main_page";
	- var title = "index";

block content
	section.section
		.row.expanded
			.hidden-small.hidden-medium.large-6
				.background-55.background_image.background_image-cover(style='background-image: url(./templates/_ares/img/png/bg1.png)')
			.small-12.large-6
				.background-55.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/svg/bg1.svg)')
					.row
						.columns.small-12.medium-10.large-7.large-offset-1
							.carousel_main.owl-carousel.owl-theme
								mixin carousel
									.item
										.title.text-medium.text-uppercase.color-white.weight-medium.mb-2 SOFTWARE UPDATE
										.title.title_size-extraLarge.color-white.weight-bold.mb-3 Just released
										-var textBlock = [{"size":"medium","color":"white","align":"left","paragraph":["Hoylu Suite 3.5 is now available to all current subscribers.","The release is focused on improving the user experience and delivering many valuable new features."]}];
										include ./components/_text
										-var btnType = [{"icon":"ios_arrow-right","size":"medium","color":"yellow","text":"learn more"}];
										include ./components/_btn
								+carousel
								+carousel
								+carousel
	section.section
		.row.align-bottom.mb-5
			.columns.small-12.medium-8.large-8
				.title.title_size-medium.weight-bold Latest news
			.columns.small-12.medium-4.large-4.flex.align-right
				a(href="#", title="title").link_all All Articles
					i.i-arrow-right
		.row
			-var newsItem = [{"medium":"6","large":"4","date":"May 5th. 2018","title":"Hoylu ab publishes the interim report for january - march 2018","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"},{"medium":"6","large":"4","date":"May 5th. 2018","title":"Hoylu ab publishes the interim report for january","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"},{"medium":"6","large":"4","date":"May 5th. 2018","title":"Hoylu receives orders in education","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"}];
			include ./components/_news
	section.section.patern.section_padding.mb-0
		.row
			.columns.small-12.medium-6
				.row.align-bottom.mb-4
					.columns.small-12.medium-8.large-8
						.title.title_size-medium.weight-bold Hoylu Suite
					.columns.small-12.medium-4.large-4.flex.align-right
						a(href="#", title="title").link_all See Hoylu Suite
							i.i-arrow-right
				.row.mb-4
					.columns.small-12
						-var textBlock = [{"size":"medium","color":"grey","align":"left","paragraph":["Hoylu Suite is designed to make digital work simple,seamless and hassle free. Hoylu established a digital workspace platform focused on the holistic experience to allow workers to increase their productivity and make decisions faster.","Hoylu Suite delivers a comprehensive set of personalized digital workspaces to enable teams across locations, on any device, to work smarter across major industries."]}];
						include ./components/_text
				.row
					.columns.small-12
						-var btnType = [{"icon":"arrow-right","size":"medium","color":"red","text":"sign in"},{"icon":"","size":"medium","color":"float","text":"create account"}];
						include ./components/_btn
			.columns.small-12.medium-6
				-var mediaItems = [{"type":"video","color":"yellow","video":"https://www.youtube.com/embed/X2Qjoj9ZD_A"}];
				include ./components/_media-container
	section.section.section_color-blue.section_padding-4
		.row
			-var edgeItems = [{"small":"12","medium":"6","large":"4","img":"./templates/_ares/img/svg/strategy.svg","title":"Plan","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamt."},{"small":"12","medium":"6","large":"4","img":"./templates/_ares/img/svg/puzzle.svg","title":"Assemble","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamt."},{"small":"12","medium":"6","large":"4","img":"./templates/_ares/img/svg/space_ship.svg","title":"Evolve","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamt."}];
			include ./components/_edge
	section.section
		.row.align-bottom.mb-5
			.columns.small-12.medium-8.large-8
				.title.title_size-medium.weight-bold Latest Case Study
			.columns.small-12.medium-4.large-4.flex.align-right
				a(href="#", title="title").link_all See more cases
					i.i-arrow-right
		.row
			.columns.small-12.medium-6
				-var mediaItems = [{"type":"image","color":"green","img":"./templates/_ares/img/jpg/insight5.jpg"}];
				include ./components/_media-container
			.columns.small-12.medium-6.large-5.large-offset-1
				.row.mb-4
					.columns.small-12
						-var textBlock = [{"size":"medium","color":"grey","align":"left","paragraph":["Holland America Group innovates ship to shore communication for entire fleet.","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "]}];
						include ./components/_text
				.row
					.columns.small-12
						a.link_more(href="#") read more
							i.i-ios_arrow-right
	section.section.patern-blue.section_padding.mb-0
		.row
			.columns.small-12.medium-6.large-3
				.row
					.columns.small-12.mb-4
						.title.title_size-medium.weight-bold Contact us
					.columns.small-12
						-var textBlock = [{"size":"medium","color":"grey","align":"left","paragraph":["We would love to hear from you! Provide the information below and one of our Inspiration gurus will get right back to you."]}];
						include ./components/_text
			.columns.small-12.medium-6.large-9
				- var formBlock = [{"textarea":true,"btnForm":"send message","formItems":[{"medium":"12","large":"4","inpt":"Name*"},{"medium":"6","large":"4","inpt":"E-mail*"},{"medium":"6","large":"4","inpt":"Location"}]}];
				include ./components/_form