extends templates/_layout

block vars
    - var page = "main_page";
    - var title = "investor share";

block content
    section.section.mb-0
        .row.expanded
            .small-12
                .background-6.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/svg/bg1.svg)')
                    .row
                        .columns.small-12
                            include ./components/_breadcrumbs
        .row.expanded
            .small-12
                .background-49.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/jpg/main.png)')
    section.section.section_color-blue.section_padding-2
        .row
            .column.small-12
                nav.menu_links
                    ul.menu_links_list
                        li.menu_links_item.is-active
                            a(href="#") Share price
                        li.menu_links_item
                            a(href="#") historical share price
                        li.menu_links_item
                            a(href="#") investment cailulator
    section.section
        .row.mb-2
            .columns.small-12.medium-10.large-7
                -var textBlock = [{"size":"medium","color":"grey","align":"left","paragraph":["Date & Time: Wednesday, May 9, 2018 13:30 (GMT +02:00)"]}];
                include ./components/_text
        .row.mb-3
            .columns.small-12
                .table_scroll.table-border
                    table
                        thead
                            tr
                                th Share
                                th Last
                                th High
                                th Low
                                th (-/+)
                                th %
                                th Bid
                                th Ask
                                th Volume
                        tbody
                            tr
                                td Hoylu
                                td 4.72
                                td 4.75
                                td 4.52
                                td.up -0.13
                                td.down -2.68
                                td 4.60
                                td 4.70
                                td 9.757
        .row
            .column.small-12
                .tabs_area
                    ul.tabs.mb-3(id="graph" ,data-tabs)
                        li.tabs-title.is-active
                            a(href="#tabs1") share graph
                        li.tabs-title
                            a(href="#tabs2") share data
                        li.tabs-title
                            a(href="#tabs3") trades
                    .tabs-content(data-tabs-content="graph")
                        .tabs-panel.is-active(id="tabs1")
                            .flex
                                .form_item.form_item-radiobox.is-checked
                                    input(type="radio", id='input1')
                                    span
                                    label(for="input1") 1 day
                                .form_item.form_item-radiobox
                                    input(type="radio", id='5 days')
                                    span
                                    label(for="5 days") 5 days
                                .form_item.form_item-radiobox
                                    input(type="radio", id='3 months')
                                    span
                                    label(for="3 months") 3 months
                                .form_item.form_item-radiobox
                                    input(type="radio", id='6 months')
                                    span
                                    label(for="6 months") 6 months
                                .form_item.form_item-radiobox
                                    input(type="radio", id='1 year')
                                    span
                                    label(for="1 year") 1 year
                                .form_item.form_item-radiobox
                                    input(type="radio", id='3years')
                                    span
                                    label(for="3years") 3 years
                                .form_item.form_item-radiobox
                                    input(type="radio", id='Custom')
                                    span
                                    label(for="Custom") Custom range
                            hr.hr.hr-green.mt_1.mb-2(noshade)
                            -var textBlock = [{"size":"medium","color":"grey","align":"left mb-2","paragraph":["09/02/2018 — 09/06/2018"]}];
                            include ./components/_text
                            .row.mb-2
                                .columns.small-12
                                    img(src="./templates/_ares/img/png/graf2.png", alt="")
                            .row
                                .columns.small-12
                                    img(src="./templates/_ares/img/png/graf3.png", alt="")
                        .tabs-panel(id="tabs2") 2
                        .tabs-panel(id="tabs3") 3