extends templates/_layout

block vars
    - var page = "main_page";
    - var title = "investor calculator";

block content
    section.section.mb-0
        .row.expanded
            .small-12
                .background-6.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/svg/bg1.svg)')
                    .row
                        .columns.small-12
                            include ./components/_breadcrumbs
        .row.expanded
            .small-12
                .background-49.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/jpg/main.png)')
    section.section.section_color-blue.section_padding-2
        .row
            .column.small-12
                nav.menu_links
                    ul.menu_links_list
                        li.menu_links_item
                            a(href="#") Share price
                        li.menu_links_item
                            a(href="#") historical share price
                        li.menu_links_item.is-active
                            a(href="#") investment cailulator
    section.section
        .row.mb-1
            .columns.small-12
                -var textBlock = [{"size":"medium","color":"grey","align":"left","paragraph":["Hoylu - Data starting from 2/20/2017"]}];
                include ./components/_text
        .row
            .column.small-12
                .tabs_area
                    ul.tabs.mb-3(id="calculator" ,data-tabs)
                        li.tabs-title.is-active
                            a(href="#tabs1") By amount invested
                        li.tabs-title
                            a(href="#tabs2") by shares bought
                    .tabs-content(data-tabs-content="calculator")
                        .tabs-panel.is-active(id="tabs1")
                            form(action="").form
                                .form_item
                                    .row.align-middle
                                        .columns.small-12.medium-4.large-3
                                            label(for="") Date of investment
                                        .columns.small-12.medium-6.large-3
                                            input(type="date", name="", required)
                                .form_item
                                    .row.align-middle
                                        .columns.small-12.medium-4.large-3
                                            label(for="") End date of investment
                                        .columns.small-12.medium-6.large-3
                                            input(type="date", name="", required)
                                .form_item
                                    .row.align-middle
                                        .columns.small-12.medium-4.large-3
                                            label(for="") Amount invested
                                        .columns.small-12.medium-4.large-3
                                            input(type="text", name="", required)
                                        .columns.small-12.medium-4.large-3
                                            select(name="",data-placeholder='Local currency')
                                                option(value="")
                                                option(value="test 1") test 1
                                                option(value="test 2") test 2
                                                option(value="test 3") test 3
                                                option(value="test 4") test 4
                                .form_item
                                    button.btn.btn_color-red.btn_size-medium(type="submit")
                                        span show data
                        .tabs-panel(id="tabs2") 2