extends templates/_layout

block vars
    - var page = "main_page";
    - var title = "news card";

block content
    section.section
        .row.expanded
            .small-12
                .background-6.background_image.background_image-cover.flex.align-middle(style='background-image: url(./templates/_ares/img/svg/bg1.svg)')
                    .row
                        .columns.small-12
                            include ./components/_breadcrumbs
    section.section.section_text
        .row.mb-4
            .columns.small-12
                img(src="./templates/_ares/img/jpg/insight3.jpg", alt="", style='float: left;margin-right: 1.875rem;margin-bottom: 1.875rem;')
                .date May 5th. 2018
                h1 Hoylu ab publishes the interim report for january - march 2018
                -var textBlock = [{"size":"small","color":"grey","align":"left","paragraph":["Malmo, Sweden, April 27, 2018 - Hoylu, a leading enterprise collaboration company announced today that it has received new orders within the Education vertical from the University of Connecticut and University of Washington. The orders represent continued expansion of Hoylu's global presence in the education space, enabling long-distance learning, team projects and curriculum facilitation.","The orders will be delivered in Q2 2018 and represents a deal value of SEK 375,000 in product and software revenue and are positioned to further expand within the universities from the initial installation.", "For more information, please contact:Stein Revelsby, CEO at Hoylu +1 213 440 2499 Email: sr@hoylu.com Karl Wiersholm, CFO at Hoylu +1 425 829 2316 Email: kw@hoylu.com", "Hoylu delivers innovative solutions to allow global collaborative teams plan, create and share information that will enrichen the user experience in the virtual office. The Hoylu Suite delivers a comprehensive set of personalized digital workspaces to enable teams across locations, on any device, to work smarter and with more fun across major industries including Engineering, Education, Pharmaceutical, Construction, Manufacturing, Graphic Design and many more."]}];
                include ./components/_text
        .row
            .columns.small-12.medium-12.large-4
                .flex-row.align-left.align-middle
                    -var social = ["./templates/_ares/img/svg/social/blue/twitter.svg","./templates/_ares/img/svg/social/blue/facebook.svg","./templates/_ares/img/svg/social/blue/youtube.svg","./templates/_ares/img/svg/social/blue/linkedin.svg","./templates/_ares/img/svg/social/blue/vimeo.svg"]
                    include ./components/_social