.color{

    &-main{
        color: @main;
    }

    &-dark{
        color: @black;
    }

    &-white{
        color: @white;
    } 
}

.weight{

    &-light{
        font-weight: 300;
    }

    &-regular{
        font-weight: 400;
    }

    &-medium{
        font-weight: 500;
    }

    &-semibold{
        font-weight: 600;
    }

    &-bold{
        font-weight: 700;
    }
}