.pagination{
    margin: 0;
    padding: 0;
    display: flex;

    li{
        margin-right: 0.625rem;

        &:last-child{
            margin-right: 0;
        }

        a{
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 1rem;

           &:hover{}
        }

        &.current{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;

            span{

            }
        }

        &.ellipsis{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
    }
}