.text{

	&-center{
		text-align: center;
	}

	&-right{
		text-align: right;
	}

	&-left{
		text-align: left;
	}

	p{
		color: inherit;
	}

	&-small{
		font-size: 0.875rem;
		line-height: 1.375rem;

		p{
			font-size: 0.875rem;
			line-height: 1.375rem;
		}
	}

	&-medium{
		font-size: 1.125rem;
		line-height: 1.75rem;

		p{
			font-size: 1.125rem;
			line-height: 1.75rem;
		}
	}

	&-uppercase{
		text-transform: uppercase;
	}
}

.weight{

    &-light{
        font-weight: 300;
    }

    &-regular{
        font-weight: 400;
    }

    &-medium{
        font-weight: 500;
    }

    &-semibold{
        font-weight: 600;
    }

    &-bold{
        font-weight: 700;
    }
}